@model IEnumerable<ProyectoConsula.Models.Resultado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Intento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prueba.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Respuesta.IdF_Usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Intento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prueba.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Respuesta.IdF_Usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdT_Resultado }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdT_Resultado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdT_Resultado })
        </td>
    </tr>
}

</table>
