@model IEnumerable<ProyectoConsula.Models.Segmento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_SegmentoPadre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdF_Pais)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_SegmentoPadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdF_Pais)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdT_Segmento }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdT_Segmento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdT_Segmento })
        </td>
    </tr>
}

</table>
