@model ProyectoConsula.Models.Curso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_CursoRequisito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_CursoRequisito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autorizado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autorizado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdF_Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdF_Pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotaMinima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotaMinima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Visible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Visible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdT_Curso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
