@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Consultas para Maestros</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Usuarios","Index","AspNetUsers")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Roles", "Index", "AspNetUsersRoles")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Logins", "Index", "AspNetUserLogins")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Claims", "Index", "AspNetUserClaims")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Contenidos", "Index", "Contenidos")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Cursos", "Index", "Cursos")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Opciones", "Index", "Opciones")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Preguntas", "Index", "Preguntas")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Pruebas", "Index", "Pruebas")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Respuestas", "Index", "Respuestas")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Resultados", "Index", "Resultados")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Segmentos", "Index", "Segmentos")</h2>
    </div>
</div>